html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: rgb(2,0,36);
  //background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(29,16,51,1) 81%, rgba(0,212,255,1) 100%);
  background-image: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(29,16,51,1) 89%, rgba(0,212,255,1) 100%) !important;
  min-height: 100vh;
	width: 100%;
  overflow-x: hidden;
  justify-content: center;
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
